/*-------------------------------

    Custom stylesheet (custom.css)

    Project: Eight Template
    Version: 1.0
    Author: By Themanoid
    Last change: 31 July 2016

    --

    This stylesheet is meant for
    your own custom styles, on
    top of The Eight Template

    Happy styling!
    - Themanoid

----------------------------*/
.kbrand{
    height: 30px;
}
.multiply{
    background-blend-mode:  difference;
}
.endpadding{
    padding: 0px 10% 0px 0px;
}
.startpadding{
    padding: 0px 0px 0px 10%;
}
.topnbottompadding
{padding: 10% 0;}

.bottompadding
{padding: 0px 0 10% 0;}

.floor{
    vertical-align: text-bottom;
}